h1 {
    color: black;
    text-align: center;
}

th {
    color: white;
}

body {
    background-color: darkgray;;
    font-family: cursive;
    font-size: 25px;
}

.done {
    background-color: green;
    color: white;
}

.not_done {
    background-color: black;
    color: red;
}

.table-bordered {
    text-align: center;
}
