h1 {
    color: white;
}

th {
    color: white;
}

body {
    background-color: black;;
    font-family: cursive;
    font-size: 30px;
}

.complete {
    background-color: green;
    color: white;
}

.incomplete {
    background-color: lightgrey;
    color: red;
}